<nav class="menu" role="nav">
    <ul>
      <li><a href="{{@blog.url}}">Home</a></li>
      <li><a href="https://github.com/ryan-endacott">GitHub</a></li>
      <li><a href="https://twitter.com/RyanEndacott">Twitter</a></li>
      <li><a href="http://bit.ly/rzendacottresume">Resume</a></li>
    </ul>
</nav>
