<nav class="menu" role="nav">
    <ul>
      <li><a href="{{@blog.url}}">Home</a></li>
      <li><a href="https://github.com/ryan-endacott">GitHub</a></li>
      <li><a href="https://twitter.com/RyanEndacott">Twitter</a></li>
      <li><a href="https://drive.google.com/file/d/0B6wYVtk4xgEHTzBPc202cUtWRUU/edit?usp=sharing">Resume</a></li>
    </ul>
</nav>
